/* Modifica backround-ul butonului de placeholder din inputFile */
  .form-control {background-color: #fff !important;}
      
/* Modifica culoarea progress-bar-ului */
  .progress-bar {background-color: #20a7c9;}
  
/* Modifica culoarea de backround a tab-urilor shiny:tabPanel - se gasesc in IFRS sidebar */ 
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #20a7c9;
}

/* CSS styling for downloadlink button - used inside mod_database_portofoliu - migration */

.glyphicon-download-alt {
  color: #20c997;
}

.glyphicon-download-alt:before {
  margin-right: 5px;
  }

.glyphicon-download {
  color: #20c997;
  margin-top: 23px;
}

.glyphicon-download:hover {
  color: #20a7c9;
}


body > div.wrapper > nav > ul:nth-child(1) > li > a > i { color: #c92052;}





      
      